@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@700&family=Space+Mono:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    padding: 28px 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main{
    max-width: 1440px;
    padding: 30px 0;
    display: flex;
}

.image,
.short-desc{
    width: 100%;
}

img {
    max-width: 80%;
    height: auto;
}

h1{
    font-family: Inconsolata, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.04em;
    letter-spacing: -0.08em;
    color: #333333;
}

h2{
    font-family: Space Mono, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 0.75em;
}

p{
    font-family: Space Mono;
    font-weight: normal;
    font-weight: 400;
    color: #4F4F4F;
    margin-bottom: 3em;
    max-width: 25ch;
}

a{
    text-decoration: none;
    font-size: 16px;
    padding: 1.1em 1.3em;
    color: #fff;
    background: #333333;
    border: 1.5px solid #333333;
    font-family: Space Mono;
    font-weight: bold;
    margin-bottom: 3em;
}

a:hover{
    background: #fff;
    color: #333333;
}
a:active{
    color: #fff;
    background: #333333;
}

footer{
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2em;
    text-align: center;
    color: #BDBDBD;
}


@media (max-width: 768px){
    h1{
        margin-bottom: 2em;
    }

    main{
        margin-bottom: 5em;
        flex-direction: column;
    }

    .image{
        text-align: center;
    }
}

@media (max-width: 475px){
    body{
        padding: 16px 30px;
    }
}